# Виртуальное окружение
venv/
.env
*.env

# Файлы базы данных SQLite
*.sqlite3
*.db
.db
db/

# Кэш Python
__pycache__/
*.pyc
*.pyo

# IDE (PyCharm)
.idea/
*.iml

# Логи и временные файлы
logs/
.log
*.log
*.tmp

# Игнорировать конкретный файл базы данных
src/api/data.db

# Игнорировать папку logs и всё внутри
src/service/logs/
